name: Deploy
on: 
  workflow_call:
    inputs: 
      environment:
        required: true
        type: string
env:
  WEBAPP_NAME: rafb-service-test
  RESOURCE_GROUP: rafb-service-test_group
  SLOT_NAME: deploy

jobs:        
  deploy-to-staging-slot:
    name: Deploy to staging slot
    environment: ${{ inputs.environment }}
    runs-on: ubuntu-latest
    steps:
      - run: echo "Deploy to staging slot"
#     - name: Log into Azure CLI with service principal
#       uses: azure/login@v1.1
#       with:
#         creds: ${{ secrets.AZURE_CREDENTIALS }}

#     - name: Download artifact from build job
#       uses: actions/download-artifact@v2
#       with:
#         name: dev_build
    
#     - name: Deploy to slot
#       uses: azure/webapps-deploy@v1
#       with: 
#         app-name: ${{ env.WEBAPP_NAME }}
#         slot-name: ${{ env.SLOT_NAME }}
#         package: '*.zip'
        
  swap-with-production-slot:
    name: Swap with prod slot
    environment: ${{ inputs.environment }}
    needs: deploy-to-staging-slot
    runs-on: ubuntu-latest

    steps:
      - run: echo "Swap with prod slot"
#     - name: Log into Azure CLI with service principal
#       uses: azure/login@v1.1
#       with:
#         creds: ${{ secrets.AZURE_CREDENTIALS }}

#     - name: Swap slots
#       run: az webapp deployment slot swap -s ${{ env.SLOT_NAME }} -n ${{ env.WEBAPP_NAME }} -g ${{ env.RESOURCE_GROUP }}
