name: E2E, UI Test
on: 
  workflow_call:
    inputs: 
      environment:
        required: true
        type: string
  workflow_dispatch:
    inputs: 
      environment:
        required: true
        type: string
        default: staging
  
jobs:
  test1: 
    runs-on: ubuntu-latest
    env:
      AAA: ${{ fromJSON('{"production":"https://register.food.gov.uk/new/","staging":"https://staging-register.food.gov.uk/new/","integration":"https://onboarding-register.food.gov.uk/new/"}')[inputs.environment] }}
      
    steps:
     - run: echo 'hello $AAA'
      
  e2e_ui_test:
    name: E2E, UI Test
    environment: ${{ inputs.environment }}
    runs-on: ubuntu-latest
    env:
      RELEASE_RELEASENAME: ${{ inputs.environment }}-release-${{ github.run_number }}
      BASE_URL: ${{ fromJSON('{"production":"https://register.food.gov.uk/new/","staging":"https://staging-register.food.gov.uk/new/","integration":"https://onboarding-register.food.gov.uk/new/"}')[inputs.environment] }}
      BROWSERSTACK_USER: ${{ secrets.BROWSERSTACK_USER }}
      BROWSERSTACK_KEY: ${{ secrets.BROWSERSTACK_KEY }}
      QA_KEY: ${{ secrets.QA_KEY }}
      
    steps:
    - name: Checkout tools repo
      uses: actions/checkout@v3
      with:
        repository: FoodStandardsAgency/register-a-food-business-UI-tests
        ref: 'master'
        
    - name: Use Node.js 12.14
      uses: actions/setup-node@v1
      with:
        node-version: 12.14
      
    - name: Npm version
      run: npm -v
      
    - name: Install
      run: yarn install
      
    - name: E2E Test
      run: yarn test:browserstack:e2e
      
    - name: Publish E2E Test Results
      uses: EnricoMi/publish-unit-test-result-action@v2
      if: always()
      with:
        junit_files: ./WDIO*.xml
        check_name: 'E2E Test Results'
      
    - name: Remove E2E Test Results
      
      run: rm -rf ./WDIO*.xml
        
    - name: UI Test
      run: yarn test:browserstack:e2e
      
    - name: Publish UI Test Results
      uses: EnricoMi/publish-unit-test-result-action@v2
      if: always()
      with:
        junit_files: ./WDIO*.xml
        check_name: 'UI Test Results'
      
