name: Release
run-name: Deploy ${{ inputs.gitRef || github.ref_name  }} to ${{ inputs.environment || 'integration' }}
on:
  workflow_dispatch:
     inputs:
      gitRef:
        description: 'Commit, tag or branch name to deploy'
        required: true
        type: string
        default: 'main'
      environment:
        description: 'Environment to deploy to'
        required: true
        type: choice
        options:
        - integration
        - staging
        - production
        default: 'integration'

jobs:
    
  release_echo:
    env:
      ENVIRONMENT: ${{ inputs.environment }}
      
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment }}
    steps:
      - run: |
          echo "Environment: $ENVIRONMENT"
  
  build_and_test:
    name: Build & test
    uses: ./.github/workflows/build_and_test.yml
    
  deploy_to_staging:
    name: Deploy to Staging
    needs: build_and_test
    uses: ./.github/workflows/deploy.yml
    with:
      environment: Staging
    secrets: inherit
    
  deploy_to_production:
    name: Deploy to Production
    needs: [build_and_test, deploy_to_staging]
    uses: ./.github/workflows/deploy.yml
    with:
      environment: Production
    secrets: inherit
