name: Release
on:
  workflow_dispatch:
    inputs:
      environment:
        description: 'Environment to release'
        type: environment
        required: true

jobs:
  release_echo:
    env:
      ENVIRONMENT: ${{ inputs.environment }}
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment }}
    steps:
      - run: |
          echo "Environment: $ENVIRONMENT"
  
  deploy:
    uses: ./.github/workflows/deploy.yml
    with:
      environment: ${{ inputs.environment }}
    secrets: inherit
